include includes/head
div.panel.panel-default.contentWrapper
    div.panel-heading Configurações de conta
    div.panel-body
        form(id='userAvatarForm', method='post', action='/user/avatar', enctype='multipart/form-data', role='form')
            input(type="hidden", id="cropX", name="cropX")
            input(type="hidden", id="cropY", name="cropY")
            input(type="hidden", id="cropWidth", name="cropWidth")
            input(type="hidden", id="cropHeight", name="cropHeight")
            input(type="hidden", id="shrink", name="shrink")
            div.row
                div.col-md-4
                    div.page-header
                        h4
                            small Foto Atual
                    div.picContainer
                        img(id='oldpic')
                div.col-md-8
                    div.page-header
                        h4
                            small Selecionada
                    #previewBox.picContainer
                        img(id='preview')
            div.formLine.row
                #fileInputBox.col-md-9.text-center
                    input(id='imageFileSelector',type='file', name='pic', class="form-control", required=true)
                div.col-md-3.text-right
                    button(type='submit', class="btn btn-default", data-loading-text='Salvando...') Salvar
        div.page-header
            h4
                small Dados Básicos
        form(id='userNameForm', action='/user/name', method='post', role='form')
            div.formLine.row
                div.col-md-6
                    div.input-group
                        span.input-group-addon
                            | 1º nome / Apelido
                        input(type="text", name="short_name",
                            class="form-control", maxlength=10, value="#{user.short_name}", required=true)

                div.col-md-6
                    div.input-group
                        span.input-group-addon
                            | Nome Completo
                        input(type="text", name="full_name", class="form-control", maxlength=100,
                            value="#{user.full_name}", required=true)
            div.formLine.buttonLine.text-right
                button(type="submit", class="btn btn-default", data-loading-text='Salvando...') Salvar
        div.row
            div.col-md-6
                div.page-header
                    h4
                        small Email
                form(id='userEmailForm', action='/user/email', method='post', role='form')
                    div.formLine
                        input(type="email", name="email", class="form-control", maxlength=50, required=true, placeholder="NovoEmail@gmail.com")
                ul.list-group#emailList
            div.col-md-6
                div.page-header
                    h4
                        small Telefone/Celular
                form(id='userTelForm', action='/user/tel', method='post', class='form-inline', role='form')
                    datalist#DDDList
                    div.text-center
                        input(type='hidden', name='country', value=55)
                        input(type="number", list='DDDList', name="area", class="form-control",
                            min=1, max=999, value='21', required=true, placeholder="DDD")
                        input(type="tel", name="number", class="form-control",
                            maxlength=10, required=true, placeholder="999999999")
                        button(type="submit", class="btn btn-default", data-loading-text='...') +
                        p.formLine
                            small.text-info
                ul.list-group#telList

        div.page-header
            h4
                small Senha
        form(id='userPasswordForm', action='/user/password', method='post', class='form-horizontal', role='form')
            div.form-group
                label(for="oldPassword", class="col-sm-3 control-label") Senha Antiga
                div.col-sm-9
                    input(type="password", id='oldPassword', class="form-control", name='oldPassword')
            div.form-group
                label(for="newPassword", class="col-sm-3 control-label") Nova Senha
                div.col-sm-9
                    input(type="password", id='newPassword', class="form-control", name='newPassword', required=true)
            div.form-group
                label(for="repeatPassword", class="col-sm-3 control-label") Repita
                div.col-sm-9
                    input(type="password", id='repeatPassword', class="form-control", name='repeatPassword', required=true)
            div.form-group
                div.col-sm-offset-3.col-sm-9
                    button(type="submit", class="btn btn-default") Salvar